img{
    height: 350px;
    width: 300px;
}
body{
    margin: 0;
    background-color: #080357;
    color: #Fd9F1C;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
#textbox{
    flex: 1;
    margin-left: 50px;       

}
#carousel{
    margin-left: 50px;
    overflow: hidden;
    flex: 2;

}
#imgs{
    display: flex;
    transition: transform 0.5s;
}